.nav-container{
    background-color:aliceblue;
  .logo img{
    width: 180px;
  }
  .facebook-btn{
    background-color: rgb(50, 82, 149);
  }
}

.header-container{
    background-image: url(image/pexels-photo-2073873.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
  
  }




