.nav-container{
    background-color:aliceblue;
  .logo img{
    width: 180px;
  }
  .facebook-btn{
    background-color: rgb(50, 82, 149);
  }
}

.header-container{
  background-image: url(image/pexels-photo-2032332.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;

  .search-box{
    background-color:rgba(251, 245, 245, 0.5);
    margin-top: 80px;
    margin-bottom: 100px;

    input{
      outline: 0;
      border-top: 3px;
      border-right: 3px;
      border-left: 3px;     
    }

  }
  .countries-option-design{
    background-color:rgba(251, 245, 245, 0.329);
    height: 190px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.top-footer{
    background-color:aliceblue;
}


